doctype html
html
    head
        title Menu Pedidos
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header
            h1 
                a.home(href="/admin/Home1") LIVRARIA UEBITCHU
        
        div.auth
            h1 NÃO AUTENTICADO!
            H4 Para ter acesso é preciso logar


            a(href="/admin/login") Clique aqui para logar!