doctype html
html
    head
        title Home
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header
            h1 
                a.home(href="/") LIVRARIA UEBITCHU

        div.main-div
            h1 SISTEMA DE ADMINISTRAÇÃO:

            a.btn.btn-primary(href=`/admin/signup`) Fazer cadastro
            a.btn.btn-primary(href=`/admin/login`) Fazer login
